
@{
    ViewBag.Title = "RegistrarReport";
}

<div id="registerReport">
    <h2>Registrar Report</h2>

    <table class="table-bordered" id="registerReport" cellpadding="05">
        <tr>
            @*<th rowspan=2>Serial</th>*@
            <th rowspan=2>Term</th>
            <th colspan=2>Course</th>
            <th rowspan=2>Section</th>
            <th rowspan=2>Faculty</th>
            <th rowspan=2>Time</th>
        </tr>
        <tr>
            <th>Code</th>
            <th>Title</th>
        </tr>
        @Html.Raw(ViewBag.html)
    </table>
</div>


<a href="#" onclick="return xepOnline.Formatter.Format('registerReport',{render:'download'});">
    Save as PDF (With Script)
</a>

@section Scripts {

    <script type="text/javascript" src="~/Scripts/jquery-2.2.3.js"></script>
    <script src="~/Scripts/xepOnline.jqPlugin.js"></script>

}